Tools/tool-flow-bridge/src/tool_flow_bridge/assets/web_search_flow.json
{
  "id": "cypherx_web_search",
  "label": "web_search (public)",
  "disabled": false,
  "info": "PUBLIC web_search flow-tool — the drop-in replacement for Tools/tool-web-search.\n\nContract (matches tool-web-search): input {query:string (required), count?:integer 1..20} (max_results accepted as an alias); output {results:[{title,url,snippet,rank}]}.\n\nProvider is selected from the platform runtime's OWN env (nodered-platform-secrets): SEARCH_PROVIDER=serpapi|brave + SERPAPI_API_KEY / BRAVE_SEARCH_API_KEY. With no provider key configured it returns DETERMINISTIC keyless MOCK results, exactly like tool-web-search's keyless fixtures.\n\nShape: http in (POST /web_search) -> prepare -> switch(provider|mock) -> [build request -> http request -> normalize] | [mock] -> http response.",
  "nodes": [
    {
      "id": "ws_in",
      "type": "http in",
      "z": "cypherx_web_search",
      "name": "web_search trigger",
      "url": "/web_search",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 150,
      "y": 100,
      "wires": [["ws_prepare"]]
    },
    {
      "id": "ws_prepare",
      "type": "function",
      "z": "cypherx_web_search",
      "name": "prepare args + pick provider",
      "func": "// Parse the invoke args and pick a provider. Keyless MOCK is the default when no\n// provider key is configured (mirrors tool-web-search's SEARCH_PROVIDER=mock default).\nconst body = msg.payload || {};\nconst query = typeof body.query === 'string' ? body.query : '';\n// Public contract uses `count`; accept `max_results` as a drop-in alias. Clamp 1..20.\nlet count = body.count;\nif (count === undefined || count === null) count = body.max_results;\ncount = parseInt(count, 10);\nif (!Number.isFinite(count) || count < 1) count = 5;\nif (count > 20) count = 20;\n\nconst provider = (env.get('SEARCH_PROVIDER') || 'mock').toLowerCase();\nconst serpKey = env.get('SERPAPI_API_KEY');\nconst braveKey = env.get('BRAVE_SEARCH_API_KEY') || env.get('BRAVE_API_KEY');\n\nlet mode = 'mock';\nlet selected = 'mock';\nif (provider === 'serpapi' && serpKey) { mode = 'provider'; selected = 'serpapi'; }\nelse if (provider === 'brave' && braveKey) { mode = 'provider'; selected = 'brave'; }\n\nmsg.ws = { query: query, count: count, provider: selected };\nmsg.mode = mode;\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 380,
      "y": 100,
      "wires": [["ws_route"]]
    },
    {
      "id": "ws_route",
      "type": "switch",
      "z": "cypherx_web_search",
      "name": "provider or mock",
      "property": "mode",
      "propertyType": "msg",
      "rules": [
        {"t": "eq", "v": "provider", "vt": "str"},
        {"t": "eq", "v": "mock", "vt": "str"}
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 2,
      "x": 620,
      "y": 100,
      "wires": [["ws_build"], ["ws_mock"]]
    },
    {
      "id": "ws_build",
      "type": "function",
      "z": "cypherx_web_search",
      "name": "build provider request",
      "func": "// Build the outbound provider request using the PLATFORM runtime's provider key (env).\nconst q = msg.ws.query;\nconst n = msg.ws.count;\nif (msg.ws.provider === 'serpapi') {\n  const key = env.get('SERPAPI_API_KEY') || '';\n  const base = env.get('SERPAPI_BASE_URL') || 'https://serpapi.com/search.json';\n  msg.url = base + '?engine=google&q=' + encodeURIComponent(q) + '&num=' + n + '&api_key=' + encodeURIComponent(key);\n  msg.method = 'GET';\n  msg.headers = { 'Accept': 'application/json' };\n} else {\n  const key = env.get('BRAVE_SEARCH_API_KEY') || env.get('BRAVE_API_KEY') || '';\n  const base = env.get('BRAVE_BASE_URL') || 'https://api.search.brave.com/res/v1/web/search';\n  msg.url = base + '?q=' + encodeURIComponent(q) + '&count=' + n;\n  msg.method = 'GET';\n  msg.headers = { 'Accept': 'application/json', 'X-Subscription-Token': key };\n}\nmsg.payload = {};\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 850,
      "y": 60,
      "wires": [["ws_request"]]
    },
    {
      "id": "ws_request",
      "type": "http request",
      "z": "cypherx_web_search",
      "name": "provider call",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 1080,
      "y": 60,
      "wires": [["ws_normalize"]]
    },
    {
      "id": "ws_normalize",
      "type": "function",
      "z": "cypherx_web_search",
      "name": "normalize -> {results}",
      "func": "// Map the provider payload to the tool-web-search output shape:\n//   { results: [ { title, url, snippet, rank } ] }\nconst n = (msg.ws && msg.ws.count) || 5;\nconst provider = (msg.ws && msg.ws.provider) || 'serpapi';\nconst payload = msg.payload || {};\nlet results = [];\nif (provider === 'serpapi') {\n  const organic = Array.isArray(payload.organic_results) ? payload.organic_results : [];\n  results = organic.slice(0, n).map(function (it, i) {\n    return {\n      title: String(it.title || ''),\n      url: String(it.link || ''),\n      snippet: String(it.snippet || ''),\n      rank: parseInt(it.position, 10) || (i + 1)\n    };\n  });\n} else {\n  const web = (payload.web && Array.isArray(payload.web.results)) ? payload.web.results : [];\n  results = web.slice(0, n).map(function (it, i) {\n    return {\n      title: String(it.title || ''),\n      url: String(it.url || ''),\n      snippet: String(it.description || ''),\n      rank: i + 1\n    };\n  });\n}\nmsg.payload = { results: results };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 1300,
      "y": 60,
      "wires": [["ws_response"]]
    },
    {
      "id": "ws_mock",
      "type": "function",
      "z": "cypherx_web_search",
      "name": "keyless mock results",
      "func": "// Deterministic, network-free canned results — same query always yields the same output,\n// mirroring tool-web-search's mock provider so local/dev runs keyless exactly like the fixtures.\nconst q = msg.ws.query;\nconst n = msg.ws.count;\nconst results = [];\nfor (let i = 0; i < n; i++) {\n  const rank = i + 1;\n  results.push({\n    title: 'Result ' + rank + ' for ' + q,\n    url: 'https://example.com/search?q=' + q + '&r=' + rank,\n    snippet: 'This is a deterministic mock snippet #' + rank + \" describing results for the query '\" + q + \"'.\",\n    rank: rank\n  });\n}\nmsg.payload = { results: results };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 850,
      "y": 160,
      "wires": [["ws_response"]]
    },
    {
      "id": "ws_response",
      "type": "http response",
      "z": "cypherx_web_search",
      "name": "respond",
      "statusCode": "",
      "headers": {},
      "x": 1300,
      "y": 160,
      "wires": []
    }
  ],
  "configs": [],
  "subflows": []
}
